<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{title}}</title>
</head>
<body>
    <h1>Статьи</h1>
    {% if articles %}
        {% for el in articles %}
            <div class = "alert alert-warning mt-2">
                <a href = "{% url 'detail' el.id %}">{{ el.article_title }}</a>
                <p>{{ el.article_text }}</p>
            </div>
        {% endfor %}
    {% else %}
        <p>Статей не найдено</p>
    {% endif %}

</body>
</html>